<div class="text-box question">
  <p class="grey-text"><%= @question %></p>
  <p class="who-quotes"><em>- You</em></p>
</div>

<div class="text-box answer">
  <p class="grey-text"><strong><%= @answer %></strong></p>
  <p class="who-quotes"><em>- Your Coach</em></p>
</div>

<p><%= link_to 'Ask a new question', ask_path, :class => "link" %></p>
